* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*********** NAVBAR SECTION ***********/

.my-logo {
  width: 50px;
}

.nav-link {
  position: relative;
  display: inline-block;
  padding: 0.625rem 1.25rem;
  color: #333333;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #0f84ba;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.nav-link:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

 .nav-item {
  font-weight: bold;
  font-size: 0.875rem;
}

/****************** MAIN SECTION ******************/

.main-section {
  overflow: hidden;
}

/********* FIRST SECTION *********/
.bgimage {
  height:100vh;
  background-image: url("https://github.com/BlackFury117/personal-website/blob/main/resources/images/background-image.jpg?raw=true");
  background-size:cover;
  position:relative;
}

.my-title {
  font-size: 4.5rem;
  animation: fadeIn 7s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.my-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

@media only screen and (max-width: 440px) {
  .my-title {
    font-size: 3rem;
  }
  a.typewrite {
    font-size: 1.25rem;
  }
  div.images-container img.skill-icon {
    width: 30px;
  }
}

.typewrite {
  color: white;
  background-color: #0e77a892;
  border-radius: 10px;
  text-decoration: none;
  font-size: 1.563rem;
  font-weight: 500;
  display: table;
  margin: auto;
  padding: 0.438rem;
  letter-spacing: 0;
}

.images-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  height: 100vh;
  margin: auto;
  transform: translateY(190px);
}

.images-container img {
  margin: auto;
  width: 38px;
  opacity: 0.7;
}


/********* SECOND SECTION *********/

.second-section {
  margin-top: 34px;
}

.scroll-effect {
  transform: translateX(400%);
  transition: transform 0.8s ease;
}

.scroll-effect:nth-of-type(even) {
  transform: translateX(-400%);
}

.scroll-effect.show {
  transform: translateX(0);
}

@media only screen and (max-width: 440px) {
  .second-section {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  h2.about-me-1 {
    font-size: 2rem;
  }
  img.my-photo {
    width: 100%;
  }
}

.about-me {
  text-align: center;
}

.about-me-1 {
  font-size: 2.5rem;
  color: #0E76A8;
  margin-bottom: 1.5rem;
}

.my-photo {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.25rem;
}

.text {
  font-size: 0.875rem;
  font-weight: bold;
  color: rgb(97, 96, 96);
}

.hashtag {
  font-size: 0.75rem;
  color: #0E76A8;
  font-weight: bold;
}

/********* THIRD SECTION *********/

.third-section {
  margin-top: 2.125rem;
  margin-bottom: 2.75rem;
}

@media only screen and (max-width: 440px) {
  h2.section-service {
    font-size: 2rem;
  }
  .third-section {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
}

.section-service, .section-skills, .section-projects {
  font-size: 2.5rem;
  color: #0E76A8;
  margin-bottom: 2.125rem;
  text-align: center;
}

.container-3 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.container-3 .serviceBox {
  position: relative;
  width: 350px;
  height: 280px;
  background: rgb(64, 63, 63);;
  border-radius: 20px;
  overflow: hidden;
}

.container-3 .serviceBox .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--i);
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition-delay: 0.25s;
}

.icon-1 {
  --i: #2b2d42;
}

.icon-2 {
  --i: #4eb7ff;
}

.icon-3 {
  --i: #0077b6;
}

.icon-4 {
  --i: #43f390;
}

.icon-5 {
  --i: #001219;
}

.container-3 .serviceBox:hover .icon {
  top: 30px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transition-delay: 0s;
}

.container-3 .serviceBox .icon i {
  font-size: 5em;
  color: #fff;
  transition: 0.5s;
  transition-delay: 0.25s;
}

.container-3 .serviceBox:hover .icon i {
  font-size: 2em;
  transition-delay: 0s;
}

.container-3 .serviceBox .content {
  position: relative;
  padding: 1.25rem;
  color: #fff;
  text-align: center;
  margin-top: 6.25rem;
  z-index: 1;
  transform: scale(0);
  transition: 0.5s;
  transition-delay: 0s;
}

.container-3 .serviceBox:hover .content {
  transform: scale(1);
  transition-delay: 0.25s;
}

.container-3 .serviceBox .content h2 {
  margin-top: 0.625rem;
  margin-bottom: 0.313rem;
}

.container-3 .serviceBox .content p {
  font-weight: 300;
  line-height: 1.5em;
}

/********* FOURTH SECTION *********/

@media only screen and (max-width: 440px) {
  h2.section-projects {
    font-size: 2rem;
  }
}

.fourth-section {
  margin-bottom: 2.125rem;
}

#my-logo-1 {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.875rem;
}

#my-logo-2 {
  width: 88px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.875rem;
}

.card {
  margin: 0.75rem;
}

/****************** FOOTER SECTION ******************/

a.btn.text-white.btn-floating.m-1.facebook {
  background-color: #3b5998;
}

a.btn.text-white.btn-floating.m-1.twitter {
  background-color: #55acee;
}

a.btn.text-white.btn-floating.m-1.google {
  background-color: #dd4b39;
}

a.btn.text-white.btn-floating.m-1.instagram {
  background-color: #ac2bac;
}

a.btn.text-white.btn-floating.m-1.linkedin {
  background-color: #0082ca;
}

a.btn.text-white.btn-floating.m-1.github {
  background-color: #333333;
}
