@use 'variables' as *;

@mixin flex-setup{
    display: flex;
    align-items: center;
}

@mixin flex-setup-2{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin position-setup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin h2-setup{
    font-weight: 700;
    font-size: 2.5rem;
    color: $blue-color;
    text-align: center;
    margin: 3rem 0;
}

@mixin h2-color{
    color: #4eb7ff;
}

@mixin container-first-section-setup{
    flex-direction: column;
    text-align: center;

    .about-img{
        margin-bottom: 1.5rem;

        img{
            width: 100%;
        }
    }
}

// DARK MODE //
@mixin dark-mode-nav{
    .nav-links{
        .links{
            color: $white-color;
        }
    }
}

@mixin dark-mode-hero{
    position: relative;

    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.15);
        z-index: 1;
    } 
}

@mixin dark-mode-first{
    .about-me{
        color: #4eb7ff;
    }
    .container-first-section{
        .about-text{
            .text{
                color: $white-color;
            }
            .cta{
                &:before{
                    background: $white-color;
                }
                &:hover{
                    &:before{
                        background: $white-color;
                    }
                }
            }
        }
    }
}

@mixin dark-mode-second{
    .services{
        color: #4eb7ff;
    }
    .container-3{
        .serviceBox{
            background: #313539;
            .content{
                color: $white-color;
                .service-title{
                    font-weight: 800;
                }
                .service-paragraph{
                    font-weight: 500;
                }
            }
        }
    }
}

// END DARK MODE //

// MEDIA QUERIES //
@mixin mobile-view{
    @media only screen and (max-width: 600px){
      @content;
    }
}

@mixin tablet-view{
    @media (min-width: 601px) and (max-width: 768px){
      @content;
    }
}

@mixin laptop-view{
    @media (min-width: 769px) and (max-width: 992px){
      @content;
    }
}