@use 'variables' as *;

html{
    box-sizing: border-box;
}

body{
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: $white-color;
}

*,
::before,
::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}