// MAIN COLORS //
$main-color: #343a40;
$blue-color: #0E76A8;
$white-color: #fff;

// SOCIAL MEDIA COLORS //
$facebook-color: #1877F2;
$twitter-color: #000000;
$instagram-color: #E4405F;
$github-color: #171515;
$gmail-color: #CD201F;
$linkedin-color: #0077b5;

// DARK MODE COLORS //

// $black-color: #212121; //